[submodule "content/about"]
	path = content/about/about
	url = https://github.com/mitchejj/soggy-oatmeal
	branch = about
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke
[submodule "content/nullog/backlog"]
	path = content/nullog/backlog/backlog
	url = https://github.com/mitchejj/soggy-oatmeal
	branch = blog-archive
[submodule "content/blog/blog"]
	path = content/nullog/blog/blog
	url = https://github.com/mitchejj/soggy-oatmeal
	branch = blog-post
