[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
#[submodule "conten"]
#	path = content
#	url = https://github.com/mitchejj/.xyz
#	branch = content
[submodule "content/archive"]
	path = content/nullog/backlog
	url = https://github.com/mitchejj/soggy-oatmeal
	branch = blog-archive
